name: Build and bundle installers

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
      - run: sudo apt-get install -y ninja-build libgtk-3-dev
      - name: Download linuxdeploy
        run: |
          wget -O $HOME/linuxdeploy-x86_64.AppImage https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage
          chmod +x $HOME/linuxdeploy-x86_64.AppImage
      - run: flutter pub get
      - run: flutter build linux
      - run: mkdir -p AppDir/usr/bin
      - run: cp -r build/linux/x64/release/bundle/* AppDir/usr/bin/
      - run: cp installer/groups_v4.desktop AppDir/
      - run: cp installer/icon.png AppDir/
      - run: $HOME/linuxdeploy-x86_64.AppImage --appdir AppDir --output appimage
      - uses: softprops/action-gh-release@v2.3.2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          files: $HOME/Groups-x86_64.AppImage
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_WITH_REPO_SCOPE }}
