name: Build and package app

on:
  release: 
    types: [created]

permissions:
  contents: write


# Problems: 
# 1 - Kein Linux ARM-Build (lösbar)
# 2 - Kein MacOS x86-Build (nicht lösbar)
# 2 - Benötigte Dependecies?

# sudo apt-get update && sudo apt-get install clang cmake git ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev


jobs:
  check-version:
    runs-on: ubuntu-latest
    outputs:
      version_ok: ${{ steps.check.outputs.version_ok }}
    steps:
      - uses: actions/checkout@v4
      - id: check
        run: |
          TAG=${{ github.event.release.tag_name }} && TAG=${TAG:1}
          VERSION=$(grep '^version:' pubspec.yaml) && VERSION=${VERSION:9:-1}
          VERSION2=$(grep '\"tags\": \[\"' io.github.JupiterBrain.groups-app.json | cut -d '"' -f 4)
          if [ "$TAG" = "$VERSION" ] && [ "$TAG" = "$VERSION2" ]; then
            echo "version_ok=true" >> $GITHUB_OUTPUT
          else
            echo "❌ Error: Tag Version does not match program version."
            echo "Check pubspec.yaml version tag and msix output file name and check flatpak config .json file."
            echo "version_ok=false" >> $GITHUB_OUTPUT
          fi

  build-windows:
    needs: check-version
    if: needs.check-version.outputs.version_ok == 'true'
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Installing flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
      - name: Building app bundle
        run: | 
          flutter pub get
          flutter build windows --release
      - name: Packaging bundle
        run: dart run msix:create
      - name: Uploading installer
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.msix

  # build-macos:
  #   needs: check-version
  #   if: needs.check-version.outputs.version_ok == 'true'
  #   runs-on: macos-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #     - name: Installing flutter
  #       uses: subosito/flutter-action@v2
  #       with:
  #         flutter-version: '3.22.3'
  #     - name: Installing Dependecies
  #       run: brew install create-dmg
  #     - name: Building app bundle
  #       run: | 
  #         flutter pub get
  #         flutter build macos --release
  #     - name: Packaging bundle 
  #       run: |
  #         mkdir -p build/macos/Release/dmg
  #         create-dmg \
  #           --volname "Groups" \
  #           --background "installer/groups-app-icon.png" \
  #           --window-pos 200 120 \
  #           --window-size 600 400 \
  #           --app-drop-link 425 150 \
  #           --hdiutil-verbose \
  #           groups-app-${{ github.event.release.tag_name }}-macos-arm64.dmg \
  #           build/macos/Build/Products/Release/groups_app.app
  #     - name: Uploading installer
  #       uses: softprops/action-gh-release@v2
  #       with:
  #         files: |
  #           dist/*.dmg
  #           *.dmg

  build-linux:
    needs: check-version
    if: needs.check-version.outputs.version_ok == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Installing flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
      - name: Installing Dependecies
        run: sudo apt-get update && sudo apt-get install -y flatpak flatpak-builder ninja-build cmake pkg-config libgtk-3-dev
      - name: Installing flatpak dependecies
        run: |
          yes | flatpak install flathub org.freedesktop.Sdk/x86_64/24.08
          yes | flatpak install flathub org.freedesktop.Platform/x86_64/24.08
      - name: Building app bundle
        run: | 
          flutter pub get
          flutter build linux --release
      - name: Updating packaging manifest version tag
        run: |
          TAG=${{ github.event.release.tag_name }} && TAG=${TAG:1}
          cat io.github.JupiterBrain.groups-app.json | head -n -1 > temp
          echo ",\"tags\": [\"$TAG\"]}" >> temp
          mv temp io.github.JupiterBrain.groups-app.json
      - name: Packaging bundle 
        run: | 
          flatpak-builder --force-clean --repo=repo build-dir io.github.JupiterBrain.groups-app.json
          flatpak build-bundle build-dir groups-app-${{ github.event.release.tag_name }}-linux-amd64.flatpak io.github.JupiterBrain.groups-app stable
      - name: Uploading installer
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*.flatpak