name: Build and bundle installers

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
      - name: Install dependecies
        run: sudo apt-get update && sudo apt-get install -y ninja-build libgtk-3-dev
      - name: Install linuxdeploy
        run: |
          wget -O ./linuxdeploy.AppImage https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage
          chmod +x ./linuxdeploy.AppImage
      - name: Build app bundle
        run: |
          flutter pub get
          flutter build linux
      - name: Construct AppDir
        run: | 
          mkdir -p AppDir/usr/bin
          cp -v -r build/linux/x64/release/bundle/* AppDir/usr/bin/
          cp -v installer/groups_v4.desktop AppDir/
          cp -v installer/icon.png AppDir/
      - name: Package bundle
        run: ./linuxdeploy.AppImage --appdir AppDir --output appimage
      - name: Upload installer to release
        uses: softprops/action-gh-release@v2
        with:
          files: Groups-x86_64.AppImage
