name: Build and package app

on:
  release: 
    types: [created]

permissions:
  contents: write


# Probleme: 
# 1 - Kein Linux ARM-Build (kostenloser arm64 runner in public repos; https://github.com/flatpak/flatpak-github-actions#multi-arch-build-using-public-arm64-runners)
# 2 - Kein MacOS x86-Build (nicht lösbar)

# Manual dependency installation
# $ sudo apt-get update && sudo apt-get install clang cmake git ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev

# Manual .flatpak build
# $ flatpak-builder --force-clean --repo=repo build-dir io.github.JupiterBrain.groups-app.json
# $ flatpak build-bundle repo groups-app.flatpak io.github.JupiterBrain.groups-app stable

# ZSH Funktion für Bildumwandelung
# $ png2ico () {
#     local i="${1}" o="${2:-${1:r}.ico}" s="${png2ico_size:-256}"
#     convert -resize x${s} -gravity center -crop ${s}x${s}+0+0 "$i" -colors 256 -background transparent "$o"
# }
# $ png2ico installer/groups-app-icon.png

jobs:
  check-version:
    runs-on: ubuntu-latest
    outputs:
      version_ok: ${{ steps.check.outputs.version_ok }}
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: |
            pubspec.yaml
            io.github.JupiterBrain.groups-app.json
          sparse-checkout-cone-mode: false
      - id: check
        run: |
          TAG=${{ github.event.release.tag_name }} && TAG=${TAG:1}
          VERSION=$(grep '^version:' pubspec.yaml) && VERSION=${VERSION:9:-1}
          VERSION2=$(grep '\"tags\": \[\"' io.github.JupiterBrain.groups-app.json | cut -d '"' -f 4)
          if [ "$TAG" = "$VERSION" ] && [ "$TAG" = "$VERSION2" ]; then
            echo "version_ok=true" >> $GITHUB_OUTPUT
          else
            echo "❌ Error: Tag Version does not match program version."
            echo "Check pubspec.yaml version tag and msix output file name and check flatpak config .json file."
            echo "version_ok=false" >> $GITHUB_OUTPUT
          fi

  build-windows:
    needs: check-version
    if: needs.check-version.outputs.version_ok == 'true'
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Installing flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
      - name: Building app bundle
        run: | 
          flutter pub get
          flutter build windows --release
      - name: Packaging bundle
        run: dart run inno_bundle:build --release --no-app --no-install-inno
      - name: Uploading installer
        uses: softprops/action-gh-release@v2
        with:
          files: ./build/windows/x64/installer/Release/*.exe

  # build-macos:
  #   needs: check-version
  #   if: needs.check-version.outputs.version_ok == 'true'
  #   runs-on: macos-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5
  #     - name: Installing flutter
  #       uses: subosito/flutter-action@v2
  #       with:
  #         flutter-version: '3.22.3'
  #     - name: Installing Dependecies
  #       run: brew install create-dmg
  #     - name: Building app bundle
  #       run: | 
  #         flutter pub get
  #         flutter build macos --release
  #     - name: Packaging bundle 
  #       run: |
  #         mkdir -p build/macos/Release/dmg
  #         create-dmg \
  #           --volname "Groups" \
  #           --background "installer/groups-app-icon.png" \
  #           --window-pos 200 120 \
  #           --window-size 600 400 \
  #           --app-drop-link 425 150 \
  #           --hdiutil-verbose \
  #           groups-app-${{ github.event.release.tag_name }}-macos-arm64.dmg \
  #           build/macos/Build/Products/Release/groups_app.app
  #     - name: Uploading installer
  #       uses: softprops/action-gh-release@v2
  #       with:
  #         files: |
  #           dist/*.dmg
  #           *.dmg

  build-linux:
    needs: check-version
    if: needs.check-version.outputs.version_ok == 'true'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-24.08
      options: --privileged
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Installing flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
      - name: Installing Dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
      - name: Building app bundle
        run: | 
          flutter pub get
          flutter build linux --release
      - name: Packaging bundle 
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: groups-app-${{ github.event.release.tag_name }}-linux-amd64.flatpak
          manifest-path: io.github.JupiterBrain.groups-app.json
      - name: Uploading installer
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*.flatpak