name: Build and package app

on:
  release: 
    types: [created]

permissions:
  contents: write


# Probleme: 
# 1 - Kein Linux ARM-Build (kostenloser arm64 runner in public repos; https://github.com/flatpak/flatpak-github-actions#multi-arch-build-using-public-arm64-runners)
# 2 - Kein MacOS x86-Build (nicht lösbar)

# Manual dependency installation
# $ sudo apt-get update && sudo apt-get install clang cmake git ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev

# Manual .flatpak build
# $ flatpak-builder --force-clean --repo=repo build-dir io.github.JupiterBrain.groups-app.json
# $ flatpak build-bundle repo groups-app.flatpak io.github.JupiterBrain.groups-app stable

# ZSH Funktion für Bildumwandelung
# $ png2ico () {
#     local i="${1}" o="${2:-${1:r}.ico}" s="${png2ico_size:-256}"
#     convert -resize x${s} -gravity center -crop ${s}x${s}+0+0 "$i" -colors 256 -background transparent "$o"
# }
# $ png2ico installer/groups-app-icon.png

# Videos
# Inno Setup: https://youtu.be/GJUmfkn76h0  
# MacOS .dmg: https://youtu.be/EniblIsf8tU

jobs:
  check-version:
    runs-on: ubuntu-latest
    outputs:
      version_ok: ${{ steps.check.outputs.version_ok }}
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: |
            pubspec.yaml
            io.github.JupiterBrain.groups-app.json
            installer/setup.iss
          sparse-checkout-cone-mode: false
      - id: check
        run: |
          TAG=${{ github.event.release.tag_name }} && TAG=${TAG:1}
          VERSION_PUBSPEC=$(grep '^version:' pubspec.yaml) && VERSION_PUBSPEC=${VERSION_PUBSPEC:9:-1}
          VERSION_FLATPAK_MANIFEST=$(grep '\"tags\": \[\"' io.github.JupiterBrain.groups-app.json | cut -d '"' -f 4)
          VERSION_ISS=$(grep "#define MyAppVersion \"" installer/setup.iss); VERSION_ISS=${VERSION_ISS:22:-1}
          if [ "$TAG" = "$VERSION_PUBSPEC" ] && [ "$TAG" = "$VERSION_FLATPAK_MANIFEST" ] && [ "$TAG" = "$VERSION_ISS" ]; then
            echo "version_ok=true" >> $GITHUB_OUTPUT
          else
            echo "❌ Error: Tag Version does not match program version."
            echo "Check pubspec.yaml, manifest.json and setup.iss version tags."
            echo "version_ok=false" >> $GITHUB_OUTPUT
          fi

  build-windows:
    needs: check-version
    if: needs.check-version.outputs.version_ok == 'true'
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Installing flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
      - name: Indstalling dependecies
        run: |
          choco install -y innosetup
          mkdir dist
      - name: Building app bundle
        run: | 
          flutter pub get
          flutter build windows --release
      - name: Packaging bundle
        run: |
          iscc /O"dist" /F"groups-app-${{ github.event.release.tag_name }}-windows-x86-arm64-compatible" "setup.iss"
      - name: Uploading installer
        uses: softprops/action-gh-release@v2
        with:
          files: ./dist/*.exe

  # build-macos:
  #   needs: check-version
  #   if: needs.check-version.outputs.version_ok == 'true'
  #   runs-on: macos-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5
  #     - name: Installing flutter
  #       uses: subosito/flutter-action@v2
  #       with:
  #         flutter-version: '3.22.3'
  #     - name: Installing Dependecies
  #       run: brew install create-dmg
  #     - name: Building app bundle
  #       run: | 
  #         flutter pub get
  #         flutter build macos --release
  #     - name: Packaging bundle 
  #       run: |
  #         mkdir -p build/macos/Release/dmg
  #         create-dmg \
  #           --volname "Groups" \
  #           --background "installer/groups-app-icon.png" \
  #           --window-pos 200 120 \
  #           --window-size 600 400 \
  #           --app-drop-link 425 150 \
  #           --hdiutil-verbose \
  #           groups-app-${{ github.event.release.tag_name }}-macos-arm64.dmg \
  #           build/macos/Build/Products/Release/groups_app.app
  #     - name: Uploading installer
  #       uses: softprops/action-gh-release@v2
  #       with:
  #         files: |
  #           dist/*.dmg
  #           *.dmg

  # 

  build-linux:
    needs: check-version
    if: needs.check-version.outputs.version_ok == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Installing flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
      - name: Installing Dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
          sudo apt install -y flatpak flatpak-builder
          sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          sudo flatpak install -y org.freedesktop.Sdk/x86_64/24.08
          sudo flatpak install -y org.freedesktop.Platform/x86_64/24.08
          sudo flatpak install -y flathub org.freedesktop.appstream-glib
      - name: Building app bundle
        run: | 
          flutter pub get
          flutter build linux --release
      - name: Make flatpak app
        run: flatpak-builder --force-clean --repo=repo build-dir io.github.JupiterBrain.groups-app.json
      - name: Build .flatpak bundle
        run: flatpak build-bundle repo groups-app-${{ github.event.release.tag_name }}-linux-amd64.flatpak io.github.JupiterBrain.groups-app stable
      - name: Uploading installer
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *.flatpak
            dist/*.flatpak
