name: Build and bundle installers

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
      - name: Install dependecies
        run: sudo apt-get update && sudo apt-get install -y ninja-build libgtk-3-dev
      - name: Build app bundle
        run: |
          flutter pub get
          flutter build linux
      - name: Construct Bundle
        run: | 
          mkdir -p Groups-amd64/usr/bin Groups-amd64/DEBIAN Groups-amd64/usr/lib/groups_v4 Groups-amd64/usr/share/applications
          cp -v -r build/linux/x64/release/bundle/* Groups-amd64/usr/lib/groups_v4
          cp -v installer/groups_v4.desktop Groups-amd64/usr/share/applications
          cp -v installer/icon.png Groups-amd64/usr/lib/groups_v4
          ln -s Groups-amd64/usr/lib/groups_v4/groups_v4 Groups-amd64/usr/bin
          echo "Package: groups-app\nVersion: ${{ github.event.release.tag_name }}\nArchitecture: amd64\nMaintainer: JupiterBrain\nDescription: The one with the assignments" > Groups-amd64/DEBIAN/control
      - name: Package bundle
        run: dpkg-deb --build ./Groups-amd64
      - name: Upload installer to release
        uses: softprops/action-gh-release@v2
        with:
          files: Groups-amd64.deb
