[Desktop Entry]
Type=Application
Version=1.0
Name=Groups
Path=/usr/bin
Exec=groups_v4
Icon=/usr/lib/groups_v4/icon.png
Terminal=false
Categories=Utility