[Desktop Entry]
Type=Application
Version=1.0
Name=Groups
Path=/usr/bin
Exec=groups-app
Icon=/usr/lib/groups-app/icon.png
Terminal=false
Categories=Utility